<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student_name %>
  </div>

  <div class="field">
    <%= form.label :mail_id %>
    <%= form.text_field :mail_id, id: :student_mail_id %>
  </div>

  <div class="field">
    <%= form.label :phone_no %>
    <%= form.text_field :phone_no, id: :student_phone_no %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :student_address %>
  </div>

  <div class="field">
    <%= form.label :qualification %>
    <%= form.text_field :qualification, id: :student_qualification %>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.number_field :experience, id: :student_experience %>
  </div>

  <div class="field">
    <%= form.label :project_name %>
    <%= form.text_field :project_name, id: :student_project_name %>
  </div>

  <div class="field">
    <%= form.label :project_description %>
    <%= form.text_area :project_description, id: :student_project_description %>
  </div>

  <div class="field">
    <%= form.label :technology %>
    <%= form.text_field :technology, id: :student_technology %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :student_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
