<p id="notice"><%= notice %></p>

<h1>WELCOME to Companies HRs Dashboard</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies_hrs.each do |companies_hr| %>
      <tr>
        <td><%= link_to 'Show', companies_hr %></td>
        <td><%= link_to 'Edit', edit_companies_hr_path(companies_hr) %></td>
        <td><%= link_to 'Destroy', companies_hr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table border="3">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th>Phone no</th>
      <th>Address</th>
      <th>Qualification</th>
      <th>Experience</th>
      <th>Project name</th>
      <th>Project description</th>
      <th>Technology</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.mail_id %></td>
        <td><%= student.phone_no %></td>
        <td><%= student.address %></td>
        <td><%= student.qualification %></td>
        <td><%= student.experience %></td>
        <td><%= student.project_name %></td>
        <td><%= student.project_description %></td>
        <td><%= student.technology %></td>
        <td><%= student.location %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'ADD  JOB Notifications', students_path %>      |
<%= link_to 'Download Resumes', students_path %>      |

<%= link_to 'Back', companies_hrs_path %>
